.arrow-key {
    background-color: transparent;
    border: none;
    color: #fff;
}

.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.canvas {
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    display: block;
    width: 640px;
    height: 400px;
}

.stat {
    height: 64px;
}

.massive-invisible-button {
    width: 100%;
    height: 100%;
    color: #fff;
    border: none;
    background-color: #222;
    box-sizing: border-box;  
}

.table-center {
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}

table, th, td {
    border: none;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    background-color: #222;
}
